<input type="checkbox" name="navigation" id="navigation" class="visually-hidden" />

<div class="app-layout__sidebar">
  <div class="app-layout__sidebar-inner">

    <nav class="nav-section">
      <h3 class="nav-section__title">
        Components
      </h3>
      <ul role="list" class="nav-list">
        {% for doc in collections.components  %}
          <li>
            <a href="{{ doc.url }}" class="nav-list__link">
              {{ doc.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
